## Creating DF

In [1]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [24, 27, 22],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago

## Reading a CSV file

In [2]:
df = pd.read_csv('sample.csv')  # Assuming 'sample.csv' exists
print(df.head())

   Name  Age         City
0  John   28     New York
1  Jane   34      Chicago
2   Jim   29  Los Angeles
3  Jill   32        Miami

## Data Cleaning

In [3]:
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [None, 2, 3, 4]})
df_cleaned = df.dropna()
print(df_cleaned)

     A    B
1  2.0  2.0
3  4.0  4.0

## Filtering Data

In [4]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})
filtered_df = df[df['A'] > 2]
print(filtered_df)

   A  B
2  3  7
3  4  8

## Grouping Data

In [5]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'],
                   'B': [1, 2, 3, 4]})
grouped = df.groupby('A').sum()
print(grouped)

     B
A
bar  6
foo  4

## Merging Dataframe

In [6]:
df1 = pd.DataFrame({'A': ['foo', 'bar'], 'B': [1, 2]})
df2 = pd.DataFrame({'A': ['foo', 'bar'], 'C': [3, 4]})
merged_df = pd.merge(df1, df2, on='A')
print(merged_df)

     A  B  C
0  foo  1  3
1  bar  2  4

## Pivot Tables

In [7]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar'],
                   'B': [1, 2, 3, 4],
                   'C': [5, 6, 7, 8]})
pivot_table = df.pivot_table(values='C', index='A', columns='B', aggfunc='sum')
print(pivot_table)

B      1    2    3    4
A
bar  NaN  6.0  NaN  8.0
foo  5.0  NaN  7.0  NaN

## Dataframe Transform

In [8]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})
transformed_df = df.transform(lambda x: x ** 2)
print(transformed_df)

    A   B
0   1  25
1   4  36
2   9  49
3  16  64

## Handling Duplicates

In [9]:
df = pd.DataFrame({'A': [1, 1, 2, 3], 'B': [4, 4, 5, 6]})
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

   A  B
0  1  4
2  2  5
3  3  6

## Save Dataframe as CSV File

In [10]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df.to_csv('output.csv', index=False)
print("DataFrame saved to output.csv")

DataFrame saved to output.csv